body {
  min-height: 100vh;
  background: #182538;
  color: #fff;
  overflow-x: hidden;
}
/* PRE-LOADER */
#loader-wrapper {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #182538;
}
#load {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  /* border: 1px solid black; */
}
#load hr {
  border: 0;
  margin: 0;
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 50%;
  animation: spin 2s ease infinite;
}

#load :first-child {
  background: #556ddb;
  animation-delay: -1.5s;
}
#load :nth-child(2) {
  background: #6736dd;
  animation-delay: -1s;
}
#load :nth-child(3) {
  background: #5f328b;
  animation-delay: -0.5s;
}
#load :last-child {
  background: #193b48;
}

@keyframes spin {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate(160%);
  }
  50% {
    transform: translate(160%, 160%);
  }
  75% {
    transform: translate(0, 160%);
  }
}
/* PRE LOADER ENDS */

.hide {
  display: none;
}

/* INTRO SECTION */

/* navbar */
nav {
  padding-top: 40px;
  height: 130px;
  width: 100%;
  /* border-bottom: 2px solid #000; */
}
.container {
  padding: 0 10%;
}
.logo {
  float: left;
  font-family: "IBM Plex Sans", sans-serif;
}
.navItems {
  float: right;
}
.navItems li {
  display: none;
  list-style-type: none;
  margin-right: 150px;
  color: #8595ae;
}
.hamburger {
  float: right;
  cursor: pointer;
}
.bar2 {
  width: 30px;
  height: 3.5px;
  background-color: #8595ae;
  margin: 6px 0;
  transition: 0.4s;
}
.bar1,
.bar3 {
  width: 20px;
  height: 3px;
  background-color: #8595ae;
  margin: 6px 3px;
  transition: 0.4s;
}
/* .change1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: red;
}
.change2 {
  background-color: blue;
} */

/* navbar ends */

.name {
  color: #8595ae;
  font-family: "IBM Plex Sans", sans-serif;
}
.aboutMe {
  margin-top: 100px;
}
.about-container {
  padding: 0 10%;
  display: flex;
}
.blob {
  width: 600px;
  margin-left: 200px;
}
.wavingHand {
  height: 15px;
  display: inline-block;
  transition: 1s ease;
  transform-origin: bottom right;
  animation-name: wave;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes wave {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(0) rotate(45deg);
  }
  100% {
    transform: translate(0);
  }
}
.aboutText {
  width: 600px;
  margin-top: 20px;
  color: #8595ae;
}
.custom-btn {
  margin-top: 20px;
  /* width: 130px; */
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 0px;
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  /* position: relative;
  display: inline-block; */
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.btn-12 {
  border: none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}
.btn-12 span {
  background: rgb(0, 172, 238);
  background: linear-gradient(
    0deg,
    rgba(0, 172, 238, 1) 0%,
    rgba(2, 126, 251, 1) 100%
  );
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-12 span:nth-child(1) {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
.page-header__scroll {
  position: absolute;
  bottom: 60px;
  left: 200px;
  transform: translateX(-50%);
  font-size: 0.8rem;
  color: #919795;
  text-transform: uppercase;
}
.page-header__scroll > span {
  animation: reveal 1s ease-out 1.5s backwards;
}
.page-header__scroll > span span {
  margin: 0 1px;
  display: inline-block;
  animation: scrollBob 8s ease-in-out infinite;
}
.page-header__scroll > span span:first-child {
  animation-delay: 3.0725s;
}
.page-header__scroll > span span:nth-child(2) {
  animation-delay: 3.145s;
}
.page-header__scroll > span span:nth-child(3) {
  animation-delay: 3.2175s;
}
.page-header__scroll > span span:nth-child(4) {
  animation-delay: 3.29s;
}
.page-header__scroll > span span:nth-child(5) {
  animation-delay: 3.3625s;
}
.page-header__scroll > span span:nth-child(6) {
  animation-delay: 3.435s;
}
@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }
}
@keyframes scrollBob {
  0%,
  10% {
    transform: none;
    opacity: 1;
    color: #919795;
  }
  1%,
  8% {
    transform: translateY(-2px);
    color: var(--fill);
  }
  4% {
    transform: translateY(3px);
    opacity: 1;
    color: #919795;
  }
}
.aboutMe::after {
  content: "";
  transform-origin: bottom center;
  position: absolute;
  width: 1px;
  height: 25vh;
  left: 200px;
  top: 91%;
  background: #ccc;
  opacity: 0.45;
}
/* INTRO SECTION ENDS */
/* Why me section */
.whySection {
  margin-top: 50px;
  margin-bottom: 100px;
}
.why-container {
  padding: 5% 10%;
}
.whyTitle {
  color: #8595ae;
  font-family: "IBM Plex Sans", sans-serif;
}
.line {
  margin: 10px 0px;
  width: 125px;
  border: 2px solid #556ddb;
}
.titleCon {
  margin-bottom: 50px;
}
.summary {
  width: 450px;
  color: #8595ae;
}
.textCon {
  display: flex;
  justify-content: space-between;
}
.reasonTitle {
  font-family: "IBM Plex Sans", sans-serif;
  margin-bottom: 10px;
}
.reason1 {
  width: 40%;
  color: #8595ae;
}
.reason2 {
  width: 40%;
  color: #8595ae;
}
/* Why me section ends */

/* project section */
.projects-section {
  margin: 80px 0;
}
.project-container {
  padding: 0 10%;
}
.projects-title {
  color: #8595ae;
  font-family: "IBM Plex Sans", sans-serif;
  margin-bottom: 10px;
}
.projects {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 30px;
}
.project-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 35%;
  height: 30%;
  /* margin-bottom: 30px; */
}
.project-card:hover {
  opacity: 0.4;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.project-img {
  width: 100%;
}

/* project section ends */

/* media queries */
@media (max-width: 768px) {
  .aboutMe {
    margin-top: 0px;
  }
  .name {
    text-align: center;
    margin-bottom: 20px;
  }
  .aboutText {
    margin: 0 auto;
    width: 420px;
  }
  .custom-btn {
    position: absolute;
    right: 40%;
  }
  .page-header__scroll {
    /* transform: translateX(0); */
    left: 50%;
    bottom: 20px;
  }
  .aboutMe::after {
    left: 50%;
    top: calc(100% + 10px);
  }
}

/* media queries */
@media screen and (max-width: 760px) {
  .blob {
    display: none;
  }
  .page-header__scroll {
    display: none;
  }
  .aboutMe::after {
    display: none;
  }
  .whySection {
    margin-top: 180px;
  }
  .textCon {
    flex-direction: column;
  }
  .reason1 {
    width: 100%;
    margin-bottom: 50px;
  }
  .reason2 {
    width: 100%;
  }
}
